@font-face {
    font-family: "Agrandir-Bold";
    font-style: normal;
    src: url('../assests/fonts/Agrandir-Bold.b0a23a48.woff2');
}
@font-face {
    font-family: "Agrandir-Medium";
    font-style: normal;
    font-weight: 500;
    src: url('../assests/fonts/Agrandir-Medium.0e505639.woff2');
}
@font-face {
    font-family: "Circular";
    font-style: normal;
    font-weight: 500;
    src: url('../assests/fonts/CircularXXWeb-Book.woff2');
}
@font-face {
    font-family: "Inter-Medium";
    font-style: normal;
    font-weight: 500;
    src: url('../assests/fonts/Inter-Medium.59aafc96.woff2');
}
@font-face {
    font-family: "Inter-Regular";
    font-style: normal;
    src: url('../assests/fonts/Inter-Regular.503dd21c.woff2');
}
@font-face {
    font-family: "Inter-SemiBold";
    font-style: normal;
    font-weight: 500;
    src: url('../assests/fonts/Inter-SemiBold.d3470cfc.woff2');
}