@import "./fonts.css";

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

body {
  height: 100vh;
  overflow: hidden;
}

body .wrapper {
  height: 100%;
  overflow-y: scroll;
}

.sub-fourth-section-text {
  gap: 0;
}

.details-column{
  flex-basis: 40%;
}

.img-column{
  flex-basis: 60%;
}

.main-slider-container{
  flex-wrap: wrap;
}

.img-holder img{
  max-width: 100%;
  width: 100%;
}

.sub-sixth-section-container {
  gap: 1rem;
}

.area2 {
  margin-top: 2rem;
  border-radius: 10px;
}

.sub-sixth-section-info {
  display: flex;
}

.sixth-section-relative:hover img{
  scale: 1.1;
}

.sixth-section-relative img{
  transition: .3s ease;
}

.sixth-section-relative{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px
}

.sixth-section-relative:hover{
  cursor: pointer;
}

.sub-sixth-section-info p {
  font-size: 1rem;
  font-family: "Agrandir-Medium";
}

.fill-neutral-black {
  fill: #1c1a1f;
}

.stroke-white {
  stroke: #fff;
}

.rotate-0,
.rotate-180 {
  transform: translate(0, 0) rotate(180deg) skewX(0) skewY(0) scaleX(1)
    scaleY(1);
  transform-origin: center;
}

.area3 {
  margin-top: 2rem;
  border-radius: 10px;
}

.first-section {
  padding: 51px 0 54px;
}

.first-section-header h2 {
  font-size: 2rem;
  font-family: "Agrandir-Bold";
}

.first-section-header p {
  font-size: 1.125rem;
  font-family: "Inter-Regular";
}

.faint-color {
  color: rgba(44, 40, 47, 0.8);
}

.sub-first-section-input {
  background: rgb(248, 246, 242);
  border-color: rgb(248, 246, 242);
  font-family: "Inter-Reguular";
  font-size: 1.125rem;
}

.max-definite-width h3,
.max-definite-width1 h3 {
  font-family: "Agrandir-Bold";
  font-size: 1.5rem;
  font-weight: 700;
}

.max-definite-width p,
.sub-second-section p,
.separate-p {
  font-family: "Inter-Regular";
  font-size: 1.125rem;
  color: rgba(44, 40, 47, 0.8);
}

.sub-first-section-btn {
  background: rgb(255, 248, 109);
  border-color: rgb(255, 248, 109);
  color: rgb(28, 26, 31);
  font-family: "Agrandir-Medium";
  font-size: 1rem;
}

.sub-first-section-img {
  left: 5px;
  top: 9px;
}

.sub-first-section-img img {
  width: 100%;
  max-width: 100%;
}

.first-section-header {
  text-align: center;
  width: 47%;
}

.main-first-section {
  row-gap: 3rem;
}

.sub-second-section {
  background-color: rgb(248, 246, 242);
  padding: 24px;
}

.sub-second-section p {
  font-size: 1.125rem;
  font-family: "Inter-Regular";
}

.third-section {
  padding: 2rem 0 4.5rem;
}

.third-section-header h3 {
  font-family: "Agrandir-Bold";
  font-size: 1.75rem;
}

.third-section-header p {
  font-family: "Inter-Regular";
  font-size: 1.0625rem;
}

.sub-third-section h3 {
  font-size: 1.5rem;
  font-family: "Agrandir-Bold";
  color: rgb(28, 26, 31);
  padding: 1rem 2rem;
}

.fourth-section-header h3 {
  font-size: 1.75rem;
  font-family: "Agrandir-Bold";
}

.third-section-img {
  max-width: 100%;
}

.sub-third-section {
  padding: 2rem 0 28px;
  background-color: rgb(225, 231, 249);
}

.sub-third-section-container {
  column-gap: 21px;
}

.sub-second-section-svg1 {
  width: 73px;
}

.sub-second-section-svg {
  width: 144px;
}

.third-section-bg {
  border: 0.125rem solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  background-color: rgb(28, 26, 31);
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in;
  padding: 10px 12px;
  margin: 0 2rem;
}

.sub-third-section1 p {
  padding: 0 2rem;
  font-size: 1.125rem;
}

.fourth-section {
  padding: 72px 0;
  background-color: rgb(248, 246, 242);
}

.sub-fourth-section-img img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 12px;
  aspect-ratio: 2/1;
}

.sub-fourth-section-text {
  background-color: rgb(28, 38, 67);
  padding: 32px;
  border-radius: 10px;
}

.sub-fourth-section-text1 {
  color: rgba(246, 245, 244, 0.8);
  font-size: 1.0625rem;
  font-family: "Inter-Regular";
}

.sub-fourth-section-text p {
  color: rgb(225, 231, 249);
  font-size: 80px;
  font-family: "Agrandir-Bold";
}

.fourth-section-img {
  background-color: rgb(225, 231, 249);
  padding-top: 16px;
  border-radius: 10px;
  margin: 0;
  padding: 16px 14px 10px 14px;
}

.sub-fourth-section-sub-text {
  background-color: rgb(26, 114, 230);
  font-size: 17px;
  color: white;
  border-radius: 10px;
}

.sub-fourth-section-sub-text1 {
  font-family: "Agrandir-Medium";
}

.sub-fourth-section-sub-text2 {
  font-family: "Inter-Regular";
}

.sub-fourth-section-sub-text3 {
  font-size: 18px;
  margin: 0;
}

.sub-fourth-section-sub-text4 {
  font-size: 16px;
  margin: 0;
}

.sub-fourth-section-video1 {
  width: 100%;
  height: 515px;
  border-radius: 10px;
  object-fit: cover;
}

.sub-fourth-section-video2 {
  width: 100%;
  height: 489px;
  border-radius: 10px;
  object-fit: cover;
}

.fourth-section-paragraph {
  background-color: rgb(227, 247, 234);
  padding: 16px;
  border-radius: 12px;
  margin-top: 1.5rem;
}

.sub-fourth-paragraph {
  background-color: rgb(14, 62, 58);
  padding: 24px;
  border-radius: 8px;
  font-family: "Agrandir-Medium";
  font-size: 20px;
  margin-bottom: 1rem;
}

.sub-fourth-paragraph2 {
  font-size: 18px;
}

.sub-fourth-paragraph3 {
  font-size: 16px;
}

.sub-fourth-paragraph1 {
  font-family: "Inter-Regular";
}

.sub-fourth-image img {
  max-width: 100%;
  border-radius: 12px;
}

.grid-container {
  display: block;
}

.flex-1 {
  flex: 1;
}

.sub-fourth-section-text {
  margin-top: 14px;
}

.sub-fourth-section-sub-text {
  margin-top: 14px;
}

.svg-bg {
  background-color: rgb(227, 247, 234);
  width: 22rem;
  max-width: 100%;
}

.sub-fifth-section-info p {
  font-size: 16px;
  font-family: "Inter-Regular";
  padding-top: 12px;
}

.fifth-section {
  padding: 80px 0;
}

.sub-fifth-section-info h3 {
  margin: 2rem 0 0;
  color:  rgba(44, 40, 47, 0.8);
}

.fifth-section-header h3 {
  font-family: "Agrandir-Bold";
  font-size: 28px;
}

.fifth-section-header p {
  font-family: "Inter-Regular";
  font-size: 15px;
  padding-top: 12px;
}

.sixth-section-absolute {
  top: 121px;
  left: 10px;
  background: rgb(246, 245, 244);
  padding: 10px 14px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 9999px;
  font-size: 14px;
  text-align: center;
  color: rgb(44, 40, 47);
  font-family: "Inter-Regular";
  font-weight: 600;
}

.sub-sixth-section-container {
  flex-direction: column;
}

.sub-sixth-section {
  padding: 2rem 24px 24px;
}

.sub-sixth-section h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Agrandir-Medium";
  color: rgb(44, 40, 47);
}

.sixth-section-header h3 {
  font-size: 28px;
  font-family: "Agrandir-Bold";
  text-align: center;
}

.sixth-section-header {
  flex-direction: column;
}

.sub-sixth-section-header p {
  background: rgb(28, 26, 31);
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Agrandir-Medium";
}

.sixth-section {
  background: rgb(248, 246, 242);
  padding: 80px 0;
}

.nav-list-btn a{
  font-size: 20px;
  font-family: "Agrandir-Medium";
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.item-dropdown h3 {
  font-size: 16px;
  font-family: "Agrandir-Bold";
  font-weight: 700;
  color: rgb(28, 26, 31);
}

.item-dropdown p {
  font-size: 14px;
  font-family: "Inter-Regular";
  color: rgba(44, 40, 47, 0.8);
}

.sub-item-dropdown h3 {
  font-size: 16px;
  font-family: "Agrandir-Medium";
  color: rgb(28, 26, 31);
}

.sub-item-dropdown1 h3 {
  font-size: 15px;
  font-family: "Agrandir-Medium";
  color: rgb(0, 0, 0);
}

.border-none {
  border: none;
}

.sub-item-dropdown p {
  font-size: 16px;
  font-family: "Inter-Regular";
  color: rgb(0, 0, 0);
}

.sub-banner-container h2 {
  font-size: 2rem;
  font-family: "Agrandir-Bold";
  font-weight: 700;
}

.sub-banner-container p {
  font-size: 18px;
  font-family: "Inter-Regular";
  color: rgb(33, 37, 41);
}

.sub-banner-container1 button {
  font-size: 16px;
  font-family: "Agrandir-Medium";
}

.sub-footer-header1 {
  padding-right: 0;
  padding-left: 6px;
  padding-bottom: 4rem;
}

.integrate-background-header {
  font-size: 1.75rem;
  font-family: "Agrandir-Bold";
  padding-bottom: 1.5rem;
}

.sub-integrate-header h3 {
  font-size: 1.125rem;
  font-family: "Agrandir-Bold";
}

.sub-integrate-header p {
  font-size: 1rem;
  font-family: "Inter-Medium";
  color: rgba(44, 40, 47, 0.7);
}

.sync-flex h3 {
  font-size: 1.75rem;
  font-family: "Agrandir-Bold";
}

.sync-grid h4 {
  font-size: 1.125rem;
  font-family: "Agrandir-Medium";
}

.sync-grid p {
  font-size: 1rem;
  font-family: "Inter-Regular";
  color: rgba(44, 40, 47, 0.8);
}

.slider-header {
  font-size: 1.75rem;
  font-family: "Agrandir-Bold";
  text-align: center;
  margin-bottom: 7rem;
}

.third-section-bg p {
  font-family: "Agrandir-Medium";
  font-size: 16px;
  font-weight: 500;
}

.accordion-button::after {
  width: 1.1rem;
  background-size: 0.6875rem;
  color: rgb(0, 0, 0);
}

.banner {
  max-width: 100%;
  width: 40px;
  height: 40px;
}

.banner-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.banner-img-container1 {
  top: 3%;
  right: 25%;
}

.banner-img-container2 {
  top: 6%;
  left: 20%;
}

.banner-img-container3 {
  top: 17%;
  left: 6.5%;
}

.custom-btn:not(.collapsed) {
  color: rgb(28, 26, 31);
}

.banner-img-container4 {
  top: 83%;
  left: 12%;
}

.banner-img-container5 {
  top: 80%;
  right: 7%;
}

.banner-img-container6 {
  top: 13%;
  right: 12%;
}

.divider::after {
  border-bottom: 1px solid rgba(44, 40, 47, 0.1);
  width: 100vw;
  position: absolute;
  bottom: -3px;
  content: "";
  left: 0;
}

.sub-integrate {
  padding: 20px;
}

.navbar-toggler {
  border: none;
  padding: 0;
}

.sync-flex {
  margin-bottom: 40px;
}

.integrate-background {
  background-color: rgb(248, 246, 242);
  padding: 4rem 0;
}

.navbar-toggler[aria-expanded="false"] .ife,
.navbar-toggler[aria-expanded="true"] .tola {
  display: none;
}

.navbar-togglerr[aria-expanded="false"] .tola {
  display: block;
}

.accordion-button:not(.collapsed) {
  background-color: white;
  box-shadow: none;
}

.accordion-style {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgb(247, 247, 248);
}

.accordion-img {
  width: 80px;
  height: 80px;
}

.sub-accordion-img {
  width: 50px;
  height: 50px;
}

.sub-accordion-style {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.accordion-button:focus {
  box-shadow: none;
}

.small-img {
  width: 39px;
  height: 40px;
}

.hopscotch {
  background: rgb(227, 247, 234);
}

.sub-btn {
  width: 90%;
  font-size: 15px;
  font-family: "Agrandir-Medium";
}

.sub-bg-icon {
  --size: 28px;
  border: 1px solid rgb(28, 26, 31);
  border-radius: 25%;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in;
}

.sub-container {
  gap: 30px;
}

.navbar-collapse {
  height: 100vh;
  overflow-y: scroll;
}

.sync-btn input {
  padding: 20px 0;
}

.sub-sync-btn {
  top: 0.1rem;
  right: 0.35rem;
}

.svg {
  margin-right: -13px;
}

.input-btn {
  border-radius: 8px;
  border-color: rgb(28, 26, 31);
}

.input-btn1 {
  box-shadow: none;
  border-color: rgba(40, 36, 43, 0.5);
}

.sync-container {
  padding: 72px 6px 42px;
}

.sync-flex {
  flex-direction: column;
  gap: 10px;
}

.slider-container {
  padding: 64px 0;
}

.sub-swiper-info h3 {
  font-size: 1.125rem;
  font-family: "Agrandir-Medium";
}

.sub-swiper-info {
  padding-bottom: 7rem;
  margin: 0 12px;
}

footer {
  background-color: rgb(28, 26, 31);
  padding-top: 54px;
}

.footer-btn {
  background-color: rgb(255, 248, 109);
  color: rgb(28, 26, 31);
  padding: 15px 2rem;
}

.footer-header {
  text-align: center;
  padding-bottom: 80px;
}

.footer-header h3 {
  font-size: 2rem;
  font-family: "Agrandir-Bold";
}

.footer-header button {
  font-size: 1.5rem;
  font-family: "Agrandir-Medium";
}

.footer-li a{
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.875rem;
  font-family: "Inter-Regular";
  text-decoration: none;
}

.footer-li a:hover{
  color: #fff;
}

.sub-footer-header {
  background-color: rgb(44, 40, 47);
  justify-content: space-between;
  padding: 40px 10px;
}

.footer-anchor-tag {
  padding-top: 80px;
}

.footer-anchor-tag span a {
  font-size: 0.6875rem;
  font-family: "Inter-Regular";
}

.sub-footer-header2 svg {
  color: white;
}

.sub-footer-header2 p {
  color: rgba(255, 255, 255, 0.4);
  padding-top: 25px;
  font-size: 0.875rem;
  font-family: "Inter-Regular";
  line-height: 20.3px;
}

.sub-footer-container {
  padding-left: 0;
  padding-right: 0;
}

.sub-bg-icon-white {
  --size: 28px;
  border: 1px solid white;
  border-radius: 25%;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in;
}

.sub-bg-icon-white svg {
  color: white;
}

.sub-bg-icon-white svg:hover {
  color: black;
  background-color: #fff;
}

.sub-banner-container1 ::placeholder {
  font-size: 1rem;
  font-family: "Inter-Regular";
}

.last-footer {
  padding-bottom: 3rem;
  padding-left: 0;
}

.last-footer p {
  font-size: 0.875rem;
}

.sub-footer-header1-h5 {
  font-size: 0.9375rem;
  font-family: "Inter-Regular";
}

.footer-anchor-tag :hover,
.footer-anchor-tag1 :hover{
  cursor: pointer;
  text-decoration: none;
}

/* Slider CSS */
.img-coloumn {
  flex-basis: 60%;
  max-width: 50%;
}

.main-slider-container {
  justify-content: space-between;
}

.sub-swiper {
  max-width: 100%;
}

.details-column {
  max-width: 40%;
}

.slider-nav-button{
  border: none;
  background: none;
  color: rgba(44, 40, 47, 0.5);
  font-size: 19px;
  font-weight: 500;
}

.slider-nav.slick-initialized .slick-track,
.slider-nav.slick-initialized .slick-list {
  padding: 0 !important;
  width: 100% !important;
  transform: none !important;
}

.slider-nav.slick-initialized .slick-slide {
  width: auto !important;
}

.slider-nav.slick-initialized .slick-current {
  color: #1C1A1F !important;
}

.sub-fifth-section-info p {
  max-height: 0;
  padding-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  opacity: 0.6s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  padding-left: 20px;
  color: rgba(44, 40, 47, 0.8);
}

.slide-down-animation {
  max-height: 200px !important;
  opacity: 1;
}

.sub-fifth-section-info p.slide-down-animation {
  margin-bottom: 1rem;
  padding-top: 12px;
}

.progress-bar {
  width: 100%;
  height: 1px;
  position: relative;
  display: block;
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar::after {
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0,0,0,1);
  transition: width ease 4s;
  opacity: 0;
  z-index: 2;
}

.slide-down-animation + .progress-bar::after,
.slick-active .progress-bar::after {
  width: 100%;
  opacity: 1;
}

.sub-fifth-section-info h3 {
  margin: 0;
  font-family: "Agrandir-Medium";
  font-size: 1.125rem;
}

.fifth-mobile h3{
  font-size: 18px;
  font-family: "Agrandir-Medium";
}

.fifth-mobile p{
  font-size: 16px;
}

.fifth-mobile{
  margin: 32px 0 0;
}

.other-color{
  background-color: rgb(241, 230, 254);
}

.img-slider-colour{
  background-color: rgb(227, 247, 234);
}

.img-slider-colour1{
  background-color:  rgb(241, 230, 254);
}

.img-slider-colour2{
  background-color:  rgb(225, 231, 249);
}

.img-slider-colour3{
  background-color:  rgb(255, 230, 230);
}

.third-section-img-height{
  height: 357.11px;
}


/* media queries.......................... */
@media (min-width: 768px) {

.img-slider {
  width: 50%;
}

.fifth-section-header h3 {
  text-align: left;
  font-size: 33px;
}

.fifth-section-header p {
  text-align: left;
}
.sub-fifth-section-info p {
  padding-left: 3.2rem;
  text-align: left;
}

.sub-fifth-section-info h3 {
  font-size: 1.1875rem;
  display: flex;
  gap: 27px;
}

.span-one{
  text-align: left;
  display: block;
}

.raising-bar {
  gap: 105px;
}

.raising-bar > div {
  flex: 1;
}

.fifth-section-header {
  margin-bottom: 105px;
  width: 100%;
}

.raising-bar-content {
  gap: 105px;
  padding: 0 !important;
}

.accordion-item:last-of-type,
.accordion-item:first-of-type .accordion-button,
.accordion-item:first-of-type {
  border: none;
}

.sub-footer{
  padding: 0 1rem;
}

.fourth-section-header {
  padding-bottom: 4rem;
}

.sub-banner-container1 {
  display: flex;
  border: 1px solid #000;
  padding: 6px;
  border-radius: 10px;
  max-width: 515px;
  margin: 0 auto;
}

.first-section-header {
  text-align: left;
}

.main-first-section {
  justify-content: space-between;
  column-gap: 3rem;
  padding: 0 15px !important;
}

.first-section-header {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-section-img {
  max-width: 40%;
  display: flex;
  align-items: center;
  padding: 0;
}

.sub-first-section-img {
  top: 50%;
  transform: translateY(-50%);
}

.sub-first-section {
  margin-top: 3rem;
  border: none;
  display: flex;
  padding: 6px;
  border-radius: 10px;
  max-width: 515px;
  margin-right: auto;
  background: rgb(248, 246, 242);
  border-color: rgb(248, 246, 242);
}

.definite-width {
  width: 48%;
}

.Agrandir-Bold-24 {
  font-size: 28px;
}

.sub-second-section-svg1 {
  position: absolute;
  width: 60%;
  max-width: 593px;
  aspect-ratio: 593/232;
  right: -29px;
  height: auto;
}

.sub-second-section1 {
  padding-bottom: 50px;
  }

.max-definite-width1 {
  margin-right: auto;
  margin-top: 9rem;
}

.sub-second-section-svg {
  position: absolute;
  aspect-ratio: 593/232;
  right: 0;
  height: auto;
  width: 68%;
  max-width: 573px;
  top: 35px;
}

.sub-third-section {
  width: 48%;
}

.sub-third-section-container {
  margin-top: 70px;
}

.sub-fourth-section-img img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 12px;
  width: 100%;
  height: auto;
  aspect-ratio: 0;
}

.sub-fourth-section-text {
  background-color: rgb(28, 38, 67);
  border-radius: 10px;
  padding-left: 28px;
  padding-top: 7px;
  gap: 7rem;
  margin: 0;
}

.sub-fourth-section-sub-text {
  font-size: 22px;
}

.sub-fourth-section-sub-text3 {
  font-size: 22px;
  margin: 28px 0 0;
}

.sub-fourth-section-sub-text4 {
  font-size: 18px;
}

.sub-fourth-section-video1 {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.sub-fourth-section-video2 {
  width: calc(100% - 30px);
  height: auto;
  margin-left: auto;
  border-radius: 20px;
}

.sub-fourth-paragraph {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 0;
}

.fourth-section-header h3 {
  font-size: 2.5rem;
}

.fourth-section-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.area2 {
  width: calc(50% - 16px);
  margin-top: 40px;
}

.area3 {
  align-items: flex-end;
  display: flex;
  margin-top: 25px;
  width: calc(50% - 16px);
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.fourth-section-paragraph {
  display: flex;
  column-gap: 10px;
}

.sixth-section-header {
  flex-direction: row;
  padding-bottom: 3rem;
}

.sixth-section-header h3 {
  font-size: 39px;
  text-align: left;
  width: 70%;
}

.sub-sixth-section-container {
  flex-direction: row;
  gap: 38px;
}

.sixth-section-relative {
  flex: 1;
}

.sub-sixth-section {
  padding: 56px 40px 40px;
}

.third-section-header h3 {
  font-size: 2.5rem;
}

.third-section {
  padding: 3.4375rem 0 6.875rem;
}

.third-section-header p {
  font-size: 1.1875rem;
}

.sub-third-section h3 {
  font-size: 1.75rem;
}

.third-section-bg p {
  font-size: 1.0625rem;
}

.first-section-header h2 {
  font-size: 3.375rem;
}

.first-section-header p {
  font-size: 1.375rem;
}

.max-definite-width h3,
.max-definite-width1 h3 {
  font-size: 1.75rem;
}

.sub-btn {
  width: 30%;
}

.sub-sixth-section h3 {
  font-size: 1.5rem;
}

.sixth-section-absolute {
  top: 147px;
  left: 26px;
}

.last-footer {
  padding-top: 2rem;
  gap: 10rem;
  padding-left: 2px;
}

.banner {
  height: auto;
  width: 60px;
}

.sync-flex h3 {
  font-size: 2.125rem;
}

.container {
  max-width: 1230px;
}

.footer-anchor-tag span a {
  font-size: 0.8125rem;
}

.sub-banner-container h2 {
  font-size: 3rem;
}

.sub-banner-container1 {
  display: flex;
  border: 1px solid #000;
  padding: 6px;
  border-radius: 10px;
  max-width: 515px;
  margin: 0 auto;
}

.integrate-background {
  padding: 6.16rem 0;
}

.sub-integrate-header h3 {
  font-size: 1.1875rem;
}

.swiper-img img {
  width: 369px;
  max-width: 100%;
}

.sub-footer-header {
  justify-content: space-between;
  padding: 40px 15px;
}

.footer-header {
  text-align: left;
  align-items: center;
}

.footer-ul {
  padding-top: 17px;
}

.footer-anchor-tag {
  padding-top: 9rem;
}

.sub-footer-container {
  padding-left: 0;
}

.footer-header button {
  width: 31%;
}

.sub-slider-container {
  column-gap: 60px;
}

.sub-slider-container1 {
  width: calc(50% - 100px);
}

.slider-header {
  text-align: left;
  font-size: 2.187rem;
}

.sub-swiper{
  margin-top: 3rem;
}

.input-group input {
  border-color: transparent;
  outline: none;
  text-align: left !important;
  padding: 0 24px !important;
}

.input-group input:focus {
  box-shadow: none;
  border-color: transparent;
}

.input-group-btn {
  max-width: 162px;
  padding: 19px 36px !important;
}

.banner-img-container1 {
  top: 7%;
  right: 23.5%;
}

.banner-img-container6 {
  top: 19%;
  right: 12%;
}

.banner-img-container7 {
  top: 39%;
  right: 17%;
}

.banner-img-container4 {
  top: 43%;
  right: 12%;
}

.banner-img-container5 {
  top: 65%;
  right: 7%;
}

.banner-img-container8 {
  top: 83%;
  left: 18%;
}

.banner-container {
  padding-top: 180px;
  padding-bottom: 180px;
}

.sub-integrate {
  flex-direction: column;
  padding: 2rem;
  flex: 1;
}

.sub-container {
  gap: 2rem;
}

.integrate-img {
  width: 48px;
  height: 48px;
}

.sync-flex {
  flex-direction: row;
  gap: 10px;
  margin-bottom: 2rem;
}

.sync-flex h3 {
  width: 50%;
}

.sync-btn {
  width: 50%;
  height: 69px;
  margin-top: 1px;
}

.sync-grid {
  width: 48%;
}

.integrate-background-header {
  font-size: 2.125rem;
  padding-bottom: 4rem;
}

.footer-header h3 {
  font-size: 3rem;
  width: 57%;
}

.footer-li a{
  font-size: 0.9375rem;
}

.sub-swiper-info-p p{
  font-size: 0.9375rem;
  font-family: "Inter-Regular";
  margin: 0;
}

.sub-swiper-info h3{
  font-size: 1.1875rem;
  font-family: "Agrandir-Medium";
}

.sub-swiper-info-p1 p{
  font-size: 1rem;
  font-family: 'Inter-Regular';
  margin: 0;
}

.sub-swiper-info p {
  margin: 0 0 23px;
}

.sub-sixth-section-header p {
  padding: 15px 20px;
}
}

@media (min-width: 991px) {

.first-section-header h2 {
  font-size: 70px;
}

.third-section{
    padding: 73px 0 145px;
}

.fifth-section-header h3 {
  font-size: 40px;
}

.sub-fourth-section-text {
  gap: 15rem;
}

.sixth-section-absolute {
  top: 208px;
}

.own{
  padding-top: 8rem;
}

.footer-li a{
  font-size: 1rem;
}

.sub-footer{
  max-width: 1390px;
  margin: 0 auto;
  padding: 0;
}

footer {
  padding-bottom: 8rem;
  padding-top: 110px;
}

.footer-header{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer-header h3 {
  font-size: 4rem;
  width: 58%;
}

.sixth-section-header h3 {
  font-size: 3.125rem;
}

.accordion-img {
  width: 140px;
  height: 140px;
}

.sync-flex {
  margin-bottom: 5rem;
}

.nav-list-btn a {
  font-size: 16px;
}

.item-dropdown h3 {
  font-size: 20px;
}

.item-dropdown p {
  font-size: 16px;
}

.sync-flex h3 {
  font-size: 2.5rem;
}

.sync-container {
  padding: 9.0625rem 0 3rem;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.sub-integrate-header h3 {
  font-size: 1.25rem;
}

.sync-flex h3 {
  max-width: 481px;
}

.sync-grid {
  width: 32%;
}

.sync-grid:hover{
  background-color: black;
  color: white;
}

.sync-grid p:hover{
  color: white;
}

.sync-btn {
  width: 50%;
  height: 69px;
  max-width: 379px;
  margin-top: 1px;
}

.sub-footer-header {
  padding: 60px;
  max-width: 1320px;
  margin: 0 auto;
  border-radius: 1.25rem;
}

.slider-container {
  padding: 164px 0;
}

.sync-flex {
  justify-content: space-between;
}

.navbar-nav {
  width: 100%;
}

.accordion .divider::after,
.navbar-brand.divider::after {
  content: none;
}

.hover-effect .hover-item {
  /* display: none; */
  margin-top: -0.3rem;
}

.will-change-transform {
  opacity: 1;
}

.hover-effect:hover .hover-item {
  display: block;
}

.hover-effect .accordion-button::after {
  transition: .3s ease-in;
}

.hover-effect:hover .accordion-button::after {
  rotate: 180deg;
  margin-bottom: 1rem;
  margin-left: 0;
}

nav.navbar {
  border-bottom: 1px solid rgba(44, 40, 47, 0.1);
}

.nav-wrapper {
  max-width: 1390px;
}

.cta-lg {
  width: 100%;
  padding: 10px 20px !important;
}

.no-border-lg {
  border: none;
}

.collapse-dropdown {
  left: 50%;
  position: fixed;
  width: 100%;
  max-width: 970px;
  transform: translateX(-50%);
  top: 74px;
  display: flex;
  background: #ffffff;
  z-index: 999;
}

.large-section {
  max-width: 579px;
}

.accordion-button::after {
  background-size: 11px;
  margin-top: 7px;
  margin-left: 0.5rem;
}

.padding-left {
  padding-left: 25px;
}

.padding-left1 {
  padding-left: 20px;
}

.accordion-button {
  padding: 0;
}

.navbar-collapse {
  height: fit-content;
  overflow-y: hidden;
}

.banner {
  width: 80px;
  height: 80px;
}

.banner-container {
  padding-top: 180px;
  padding-bottom: 180px;
  margin-bottom: 100px;
}

.sub-container {
  max-width: 1230px;
  margin: 0 auto;
}

.swiper-img img {
  width: 497px;
}

.sub-banner-container h2 {
  font-size: 4rem;
  margin: 0 100px 32px;
}

.sub-banner-container p {
  font-size: 1.375rem;
}

.sub-banner-container1 ::placeholder {
  font-size: 1.2rem;
}

.integrate-background-header {
  font-size: 2.5rem;
}

.integrate-background {
  padding: 8.0625rem 0;
}

.faint-color {
  max-width: 520px;
}

.sub-second-section {
  padding: 35px 40px;
  position: relative;
}

.sub-second-section-svg-container {
  margin-top: 4.5rem;
}

.sub-second-section-svg1 {
  position: absolute;
  width: 70%;
  max-width: 593px;
  top: 9%;
  aspect-ratio: 593/232;
  right: -53px;
  height: auto;
}

.max-definite-width-top {
  margin-top: 6rem;
  max-width: 79%;
}

.sub-second-section1 {
  gap: 2rem;
}

.max-definite-width1 {
  max-width: 341px;
  margin-right: auto;
  margin-top: 0;
}

.max-definite-width {
  max-width: 341px;
  margin-right: auto;
  margin-top: 0;
}

.sub-fourth-paragraph {
  font-size: 24px;
}

.sub-fourth-paragraph2 {
  font-size: 22px;
}

.sub-fourth-paragraph3 {
  font-size: 18px;
}

.w-122{
  width: 122px;
}

.last-footer {
  padding-top: 10rem;
  gap: 18rem;
}

.nav-list-btn a:hover{
  color: rgba(28, 26, 31, 0.6);
}

.footer-btn {
  padding: 40px 69px;
}

.footer-btn:hover {
 background-color: #fff;
}

.footer-header button {
  font-size: 2rem;
}

.fifth-section {
  padding: 162px 0;
}

}

@media (min-width: 1240px) {

.sixth-section-header h3 {
  width: 59%;
}

.sixth-section {
  padding: 200px 0;
}
.sixth-section-absolute {
  top: 260px;
}

.fifth-section {
  padding: 200px 0;
}

.fourth-section {
  padding: 180px 0;
}

.fourth-section-header h3 {
  font-size: 50px;
}
.own{
  padding-top: 0;
}

footer {
  padding-bottom: 8rem;
  padding-top: 140px;
}

.sub-banner-container h2 {
  margin: 0 203px 32px;
}

.footer-btn {
  padding: 40px 95px;
}

.integrate-background {
  padding: 10rem 0;
}

.sync-container {
  padding: 11.25rem 0 3.75rem;
}

.fourth-section-img {
  max-width: 749px;
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
}

.sub-fourth-section-text {
  align-self: flex-start;
  justify-content: space-between;
  gap: 9.5rem;
}

.sub-fourth-section-sub-text {
  grid-column: span 2/span 2;
  padding: 40px !important;
  font-size: 24px;
}

.area2 {
  max-width: 419px;
  margin-top: 0;
}

.area3 {
  flex: 1 1 0%;
  min-height: 400px;
  overflow-y: hidden;
  aspect-ratio: 363/500;
}

.fourth-section-paragraph {
  max-width: 805px;
}

.sub-fourth-paragraph {
  max-width: 441px;
}

.sub-fourth-section-container {
  padding: 0;
}

.footer-header{
  padding: 0 1rem 9rem;
}
}

