@import "./fonts.css";

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

body {
  height: 100vh;
  overflow: hidden;
}

body .wrapper {
  height: 100%;
  overflow-y: scroll;
}

.nav-list-btn a{
  font-size: 20px;
  font-family: "Agrandir-Medium";
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.navbar-toggler {
  border: none;
  padding: 0;
}

.main-sub-bg-icon{
  padding-bottom: 6rem;
}

.hopscotch-padding{
  padding: 48px 20px;
}

.accordion-item{
  border: none;
}

.navbar-toggler[aria-expanded="false"] .ife,
.navbar-toggler[aria-expanded="true"] .tola {
  display: none;
}

.navbar-togglerr[aria-expanded="false"] .tola {
  display: block;
}

.navbar-collapse {
  overflow-y: scroll;
  height: 100vh;
  background-color: white;
}

.first-section h1 {
  font-size: 32px;
  font-family: "Agrandir-Bold";
  text-align: center;
}

.underline {
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -87px;
  left: 0;
  height: 100px;
  border: solid 7px rgb(255, 248, 109);
  border-color: rgb(255, 248, 109) transparent transparent transparent;
  border-radius: 44%/14px 11px 0 0;
  z-index: 1;
  overflow: hidden;
  display: block;
}

.first-section-container {
  padding: 64px 0 0;
  background-color: rgb(248, 246, 242);
}

.sub-first-section p {
  font-size: 16px;
  font-family: "Inter-Regular";
  text-align: center;
}

.sub-first-section {
  width: 100%;
  margin: 0 auto;
}

.optional {
  background: rgb(28, 26, 31);
  padding: 6px 8px;
  border-radius: 20px;
}

.optional p {
  min-width: max-content;
  font-size: 10px !important;
  font-family: "Inter-Regular";
}

.sub-third-section-p {
  padding: 3rem 0 4rem;
}

.second-section-svg {
  width: 63px;
  margin-bottom: 2rem;
}

.second-section-info h2 {
  font-size: 23px;
  font-family: "Agrandir-Bold";
  font-weight: 700;
}

.second-section-info-p {
  font-size: 16px;
  font-family: "Inter-Regular";
}

.sub-second-section-info1 span {
  font-size: 18px;
  vertical-align: middle;
  font-family: "Agrandir-Bold";
}

.sub-second-section-info1 {
  font-size: 28px;
  font-family: "Agrandir-Bold";
}

.sub-second-section-info2 {
  font-size: 14px;
  font-family: "Inter-Regular";
}

.sub-second-section-btn {
  font-size: 16px;
  font-family: "Agrandir-Medium";
}

.sub-second-section-btn {
  border: 0.125rem solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  background-color: rgb(28, 26, 31);
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in;
  padding: 10px 20px;
  margin: 40px 0 0;
}

.second-section-container {
  background-color: rgb(248, 246, 242);
  padding: 32px 0 72px;
}

.second-section-bg {
  background-color: rgb(255, 248, 109);
  padding: 24px;
  border-radius: 8px;
  gap: 2.5rem;
}

.sub-second-section p {
  font-size: 16px;
  font-family: "Inter-Regular";
  color: rgba(44, 40, 47, 0.8);
}

.sub-second-section1 {
  gap: 20px;
  padding: 15px 0 17px;
}

.sub-second-section {
  position: relative;
}

.sub-second-section1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
}

.container {
  padding: 0 15px;
}

.sub-second-section1 svg {
  width: 45px;
}

.bg-color {
  background-color: rgb(248, 246, 242);
}

.padding-32 {
  padding: 16px 0;
}

.third-section-container {
  padding: 80px 0;
}

.third-section-header h2 {
  font-size: 28px;
  font-family: "Agrandir-Bold";
  font-weight: 700;
}

.third-section-header p {
  font-size: 17px;
  color: rgba(44, 40, 47, 0.8);
  font-family: "Inter-Regular";
  margin: 0;
  padding: 0 0 47px;
}

.sub-third-section p {
  font-family: "Inter-Regular";
  color: rgba(44, 40, 47, 0.8);
  margin: 0;
}

.custom-button:not(.collapsed) {
  box-shadow: none;
}

.sub-third-section-p p {
  font-size: 14px;
  color: rgba(44, 40, 47, 0.65);
  font-family: "Inter-Regular";
}

.sub-third-section h5 {
  font-size: 18px;
  font-family: "Agrandir-Medium";
}

.custom-button {
  position: relative;
  padding: 30px 0;
  background-color: inherit;
  outline: 0;
}

.sub-container-accordion {
  padding: 20px;
  font-size: 16px;
  font-family: "Inter-Regular";
  color: rgba(44, 40, 47, 0.8);
}

.container-accordion {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion-header span {
  font-size: 18px;
  font-family: "Agrandir-Medium";
  color: rgb(28, 26, 31);
}

.custom-button::after {
  opacity: 0;
}
.accordion-svg {
  position: absolute;
  right: 8px;
}

.accordion-svg g {
  color: #000;
  transform: translate(0, 0) rotate(45deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
  transform-origin: center;
}

.accordion-svg1 {
  position: absolute;
  right: 8px;
}

.accordion-svg1 g {
  --tw-text-opacity: 1;
  color: rgb(255 248 109 / var(--tw-text-opacity));
}

.custom-button:not(.collapsed) .accordion-svg {
  display: none;
}

.custom-button.collapsed .accordion-svg1 {
  display: none;
}

.accordion-button:focus {
  box-shadow: none;
}

.fourth-section-container {
  padding: 60px 0;
  background: rgb(246, 245, 244);
}

.accordion-body {
  padding: 0 0 1.56rem;
}

.fourth-section-header h2 {
  font-size: 28px;
  font-family: "Agrandir-Bold";
  text-align: center;
}

.item-dropdown h3 {
  font-size: 16px;
  font-family: "Agrandir-Bold";
  font-weight: 700;
  color: rgb(28, 26, 31);
}

.item-dropdown p {
  font-size: 14px;
  font-family: "Inter-Regular";
  color: rgba(44, 40, 47, 0.8);
}

.sub-item-dropdown h3 {
  font-size: 16px;
  font-family: "Agrandir-Medium";
  color: rgb(28, 26, 31);
}

.sub-item-dropdown1 h3 {
  font-size: 15px;
  font-family: "Agrandir-Medium";
  color: rgb(0, 0, 0);
}

.border-none {
  border: none;
}

.sub-item-dropdown p {
  font-size: 16px;
  font-family: "Inter-Regular";
  color: rgb(0, 0, 0);
}

.accordion-img {
  width: 80px;
  height: 80px;
}

.sub-accordion-img {
  width: 50px;
  height: 50px;
}

.sub-accordion-style {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.accordion-button:focus {
  box-shadow: none;
}

.small-img {
  width: 39px;
  height: 40px;
}

.hopscotch {
  background: rgb(227, 247, 234);
}

.sub-btn {
  width: 90%;
  font-size: 15px;
  font-family: "Agrandir-Medium";
}

.sub-bg-icon {
  --size: 28px;
  border: 1px solid rgb(28, 26, 31);
  border-radius: 25%;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in;
}

.divider::after {
  border-bottom: 1px solid rgba(44, 40, 47, 0.1);
  width: 100vw;
  position: absolute;
  bottom: -3px;
  content: "";
  left: 0;
}

.custom-btn:not(.collapsed) {
  color: rgb(28, 26, 31);
}

.accordion-button::after {
  width: 1.1rem;
  background-size: 0.6875rem;
  color: rgb(0, 0, 0);
}

.accordion-button:not(.collapsed) {
  background-color: rgb(247, 247, 248);
  box-shadow: none;
}

.accordion-style {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgb(247, 247, 248);
}

nav{
  background: rgb(248, 246, 242);
}

.sub-footer-header1 {
  padding-right: 0;
  padding-left: 6px;
  padding-bottom: 4rem;
}

footer {
  background-color: rgb(28, 26, 31);
  padding-top: 54px;
}

.footer-btn {
  background-color: rgb(255, 248, 109);
  color: rgb(28, 26, 31);
  padding: 15px 2rem;
}

.footer-header {
  text-align: center;
  padding-bottom: 80px;
}

.footer-header h3 {
  font-size: 2rem;
  font-family: "Agrandir-Bold";
}

.footer-header button {
  font-size: 1.5rem;
  font-family: "Agrandir-Medium";
}

.footer-li a{
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.875rem;
  font-family: "Inter-Regular";
  text-decoration: none;
}

.footer-li a:hover{
  color: #fff;
}

.sub-footer-header {
  background-color: rgb(44, 40, 47);
  justify-content: space-between;
  padding: 40px 10px;
}

.footer-anchor-tag {
  padding-top: 80px;
}

.footer-anchor-tag span a {
  font-size: 0.6875rem;
  font-family: "Inter-Regular";
}

.sub-footer-header2 svg {
  color: white;
}

.sub-footer-header2 p {
  color: rgba(255, 255, 255, 0.4);
  padding-top: 25px;
  font-size: 0.875rem;
  font-family: "Inter-Regular";
  line-height: 20.3px;
}

.sub-footer-container {
  padding-left: 0;
  padding-right: 0;
}

.sub-bg-icon-white {
  --size: 28px;
  border: 1px solid white;
  border-radius: 25%;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in;
}

.sub-bg-icon-white svg {
  color: white;
}

.sub-bg-icon-white svg:hover {
  color: black;
  background-color: #fff;
}

.sub-banner-container1 ::placeholder {
  font-size: 1rem;
  font-family: "Inter-Regular";
}

.last-footer {
  padding-bottom: 3rem;
  padding-left: 0;
}

.last-footer p {
  font-size: 0.875rem;
}

.sub-footer-header1-h5 {
  font-size: 0.9375rem;
  font-family: "Inter-Regular";
}

.footer-anchor-tag :hover,
.footer-anchor-tag1 :hover{
  cursor: pointer;
  text-decoration: none;
}


@media (min-width: 768px) {

.sub-footer{
  padding: 0 1rem;
}

.footer-anchor-tag span a {
  font-size: 0.8125rem;
}

.footer-header h3 {
  font-size: 3rem;
  width: 57%;
}

.footer-li a{
  font-size: 0.9375rem;
}

.sub-footer-header {
  justify-content: space-between;
  padding: 40px 15px;
}

.footer-header {
  text-align: left;
  align-items: center;
}

.footer-ul {
  padding-top: 17px;
}

.footer-anchor-tag {
  padding-top: 9rem;
}

.sub-footer-container {
  padding-left: 0;
}

.footer-header button {
  width: 31%;
}
.last-footer {
  padding-top: 2rem;
  gap: 10rem;
  padding-left: 2px;
}

.sub-btn {
  width: 30%;
}

.accordion-item:last-of-type,
.accordion-item:first-of-type{
  background: rgb(248, 246, 242);
}

.accordion-item:last-of-type,
.accordion-item:first-of-type .accordion-button,
.accordion-item:first-of-type {
  border: none;
}

.first-section h1 {
  font-size: 49px;
}

.sub-first-section p {
  font-size: 19px;
}

.sub-first-section {
  padding: 0;
}

.second-section-bg {
  padding: 40px;
}

.sub-second-section p {
  font-size: 18px;
}

.style-container {
  max-width: 100%;
}

.first-section-container {
  padding: 98px 0 0;
}

.second-section-container {
  padding: 55px 0 110px;
}

.sub-third-section {
  gap: 0.5rem;
}

.sub-third-section p {
  flex: 1;
}

.sub-third-section h5 {
  flex: 1;
}

.sub-third-section h4 {
  flex: 1;
}

.padding-32 {
  padding: 32px 0;
}

.sub-third-section h4 {
  font-size: 17px;
  font-family: "Inter-Regular";
}

.sub-third-section h5 {
  font-size: 20px;
}

.sub-third-section p {
  font-size: 17px;
}

.third-section-container {
  padding: 123px 0;
}

.third-section-header h2 {
  font-size: 39px;
}

.third-section-header p {
  font-size: 18.5px;
}

.custom-button {
  padding: 30px 0;
}

.accordion-header span {
  font-size: 19px;
}

.fourth-section-container {
  padding: 98px 0;
}

.fourth-section-header h2 {
  font-size: 39px;
}
}


@media (min-width: 991px) {

.footer-li a{
  font-size: 1rem;
}

.sub-footer{
  max-width: 1390px;
  margin: 0 auto;
  padding: 0;
}

footer {
  padding-bottom: 8rem;
  padding-top: 110px;
}

.footer-header{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 1rem;
}


.footer-header h3 {
  font-size: 4rem;
  width: 58%;
}

.sub-footer-header {
  padding: 60px;
  max-width: 1320px;
  margin: 0 auto;
  border-radius: 1.25rem;
}


.last-footer {
  padding-top: 10rem;
  gap: 18rem;
}

.footer-btn {
  padding: 40px 69px;
}

.footer-btn:hover {
  background-color: #fff;
}

.footer-header button {
  font-size: 2rem;
}

.accordion-button {
  background-color: rgb(248, 246, 242);
}

.padding-left1 {
  padding-left: 20px;
}

.padding-left {
  padding-left: 25px;
}

.navbar-collapse {
  height: fit-content;
  overflow-y: hidden;
}

.item-dropdown h3 {
  font-size: 20px;
}

.item-dropdown p {
  font-size: 16px;
}

.navbar-nav {
  width: 100%;
  background: rgb(248, 246, 242);
}

.accordion .divider::after,
.navbar-brand.divider::after {
  content: none;
}

.hover-effect .hover-item {
  display: none;
}

.hover-effect:hover .hover-item {
  display: block;
}

.hover-effect .accordion-button::after {
  transition: .3s ease-in;
}

.hover-effect:hover .accordion-button::after {
  rotate: 180deg;
  margin-bottom: 1rem;
  margin-left: 0;
}

nav.navbar {
  border-bottom: 1px solid rgba(44, 40, 47, 0.1);
}

.nav-wrapper {
  max-width: 1390px;
}

.cta-lg {
  width: 100%;
}

.no-border-lg {
  border: none;
}

.collapse-dropdown {
  left: 50%;
  position: fixed;
  width: 100%;
  max-width: 970px;
  transform: translateX(-50%);
  top: 74px;
  display: flex;
  background: #ffffff;
  z-index: 999;
}

.large-section {
  max-width: 579px;
}

.first-section h1 {
  font-size: 64px;
}

.sub-first-section p {
  font-size: 22px;
}

.second-section-bg {
  padding: 80px;
}

.first-section-container {
  padding: 129px 0 0;
}

.second-section-container {
  padding: 72px 0 145px;
}

.third-section {
  margin: 0 70px;
}
.third-section-header h2 {
  font-size: 50px;
}

.third-section-header p {
  font-size: 20px;
}

.sub-third-section h4 {
  font-size: 18px;
}

.sub-third-section h5 {
  font-size: 22px;
}

.sub-third-section p {
  font-size: 18px;
}

.style-container-fourth {
  max-width: 75%;
}

.fourth-section-header h2 {
  font-size: 50px;
}

.fourth-section-container {
  padding: 129px 0;
}

.accordion-header span {
  font-size: 20px;
}

.sub-third-section-p {
  padding: 2rem 0 4rem;
}

.nav-list-btn a {
  font-size: 16px;
}

.accordion .divider::after,
.navbar-brand.divider::after {
  content: none;
}

nav.navbar {
  border-bottom: 1px solid rgba(44, 40, 47, 0.1);
}

.nav-wrapper {
  max-width: 1390px;
}

.nav-list-btn a:hover{
  color: rgba(28, 26, 31, 0.6);
}

.accordion-button::after{
  margin-top: 7px;
  margin-left: 0.5rem;
}

.accordion {
  background: rgb(248, 246, 242);
}
}


@media (min-width: 1240px) {

.first-section-container {
  padding: 160px 0 0;
}

.sub-container {
  width: 75%;
  margin: 0 auto;
}

.style-container {
  max-width: 75%;
}

.second-section-container {
  padding: 90px 0 180px;
}

.third-section {
  margin: 0 173px;
}

.fourth-section {
  margin: 0 255px;
}

.fourth-section-container {
  padding: 160px 0;
}
}
