/* .logo-container::after{
    content: "";
    position: absolute;
    top: 16px;
    bottom: 12px;
    left: 8%;
    width: 2px;
    background-color: rgb(224, 224, 224);
}

.collapse-dropdown {
    left: 50%;
    position: fixed;
    width: 100%;
    max-width: 970px;
    transform: translateX(-50%);
    top: 74px;
    display: flex;
    background: #ffffff;
    z-index: 999;
}

.border-none {
    border: none;
}


.accordion-button::after {
    width: 1.1rem;
    color: rgb(0, 0, 0);
   margin-left: 10px;
}

nav.navbar {
    border-bottom: 1px solid rgba(44, 40, 47, 0.1);
} */

n 